//gradiente
$dourado: linear-gradient(90deg, rgba(167,135,95,1) 0%, rgba(194,162,115,1) 27%, rgba(237,221,188,1) 69%, rgba(163,131,92,1) 100%);
$background-color: black;
$font-color: #fff; 
$font-family: "Quicksand", sans-serif;
$borda-dourada: linear-gradient(to bottom, rgba(167,135,95,1) 0%, rgba(194,162,115,1) 27%, rgba(237,221,188,1) 69%, rgba(163,131,92,1) 100%) 1;
